/* styles.css */
table {
    width: 90%;
    background-color:  #96D4D4;
}

table, th, td {
    border: 1px solid black;
    border-radius: 10px;
}

th, td {
    padding: 10px;
    text-align: center;
}