div.outer{
    height: 450px;
    width: 500px;
    background-color: rgb(191, 224, 100);
    align-items: flex-start;
    align-content: flex-end;
    margin: 100px;
}

div.inner{
    height: 130px;
    width: 150px;
    background-color: rgb(191, 224, 100);
    position: absolute;
    margin-top: 30px;
    margin-left: 15px;
}

div.right{
    height: 300px;
    width: 300px;
    background-color: rgb(191, 224, 100);
    position: absolute;
    margin-left: 160px;
}